@tailwind base;
@tailwind components;
@tailwind utilities;

.size-30px {
  width: 30px;
  height: 30px;
}

h1,
h2 {
  @apply text-blue-900 font-bold text-xl;
}

.homepage {
  width: 100%;
  min-height: 100vh;
  background-image: url("/background.png");
  background-size: cover;
  z-index: -1;
}

.nav-item {
  @apply text-lg
  px-2
  md:px-0
  border-l-2
  md:border-l-0
  md:border-b-2 
  border-blue-500 
  border-opacity-0 
  transition 
  hover:text-blue-500 
  hover:border-opacity-100;
}

.wrapper {
  @apply p-4;
}

.dropdown {
  @apply relative inline-block;
}

.dropdown-content {
  @apply hidden absolute bg-white shadow-lg;
}

.dropdown:hover .dropdown-content {
  @apply block;
}

.drop-item {
  @apply px-4 py-1 w-full hover:bg-gray-200;
}

.dropdown-scrollable {
  max-height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-400 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-blue-500;
}
